<script>
  import { Toast } from 'bootstrap';
  let toastEl;
  let todos = [];
  let todo = { id: "", text: "", estado: false };

  if (localStorage.getItem("todos")) {
    todos = JSON.parse(localStorage.getItem("todos"));
  }

  $: localStorage.setItem("todos", JSON.stringify(todos));

  let opc = {texto: '', color: ''}

  const showToast = (texto, color) => {
	opc = {texto, color}
    new Toast(toastEl,{delay: 1000}).show();
  };

  const addTodo = () => {
    if (!todo.text.trim()) {
      todo.text = "";
      return;
    } else {
      todo.id = Date.now();
      todos = [...todos, todo];
      todo = { id: "", text: "", estado: false };
      showToast('tarea agregada', 'success');
    }
  };

  const delTodo = (id) => {
    todos = todos.filter((item) => item.id !== id);
    showToast('tarea eliminada', 'danger');
  };

  const editTodo = (id) => {
    todos = todos.map((item) =>
      item.id === id ? { ...item, estado: !item.estado } : item
    );
    showToast('tarea modificada', 'warning');
  };
  const color = (valor) =>
    valor ? "btn btn-sm btn-warning" : "btn btn-sm btn-success";
  const text = (valor) => (valor ? "text-decoration-line-through" : "");
  const icon = (valor) =>
    valor ? "bi bi-arrow-counterclockwise" : "bi bi-check2";
</script>

<div class="container">
  <h1 class="display-5 my-3">CRUD</h1>
  <form on:submit|preventDefault={addTodo}>
    <input
      type="text"
      class="form-control shadow border-0"
      placeholder="Enter para agregar todo"
      bind:value={todo.text}
    />
  </form>
  {#each todos as item}
    <div class="shadow my-3 p-3 lead">
      <p class={text(item.estado)}>
        {item.text}
      </p>
      <button class={color(item.estado)} on:click={editTodo(item.id)}
        ><i class={icon(item.estado)} /></button
      >
      <button class="btn btn-sm btn-danger" on:click={delTodo(item.id)}
        ><i class="bi bi-trash" /></button
      >
    </div>
  {/each}
  <div class="toast-container position-absolute p-3 top-0 end-0">
    <div
      bind:this={toastEl}
      class="toast align-items-center text-white bg-{opc.color} border-0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">{opc.texto}</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        />
      </div>
    </div>
  </div>
</div>
